@model IEnumerable<CRUD.Models.Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Add Genre", "New", null, new {@class="btn btn-primary"})


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>


    @foreach (var genre in Model)
    {
        <tbody>
            <tr>
                <td>@genre.Id</td>
                <td>@Html.ActionLink(genre.Name, "Edit", "Genres", new {id = genre.Id}, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", new {id = genre.Id}, new {@class="btn btn-danger"})</td>
            </tr>
        </tbody>
    }
</table>



